<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    @await Html.PartialAsync("_Header");
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="item-footer">
            <h1>Exclusive</h1>
            <h2>Subscribe</h2>
            <h3>Get 10% off your first order</h3>
        </div>
        <div class="item-footer">
            <h2>Support</h2>
            <h3>San Nicolás de los Garza, Nuevo León, México.</h3>
            <h3>Equipo#5@gmail.com</h3>
            <h3>+52 81 1234 1234</h3>
        </div>
        <div class="item-footer">
            <h2>Account</h2>
            <a asp-controller="Home" asp-action="Account">My Account</a>
            <a asp-controller="Home" asp-action="Cart">Cart</a>
            <a asp-controller="Home" asp-action="Wishlist">Wishlist</a>
            <a asp-controller="Home" asp-action="">Shop</a>
        </div>
        <div class="item-footer">
            <h2>About the shop</h2>
            <a asp-controller="Home" asp-action="AboutUs">Privacy Policity</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
        <div class="item-footer">
            <h2>Download App</h2>
        </div>
        <div class="copyright">
            <h1>© Copyright Tienda Online 2024. All right reserved</h1>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
