@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>
    .section-error {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    h1{
        font-size:110px;
        font-weight: 700;
    }
    .error-message {
        padding: 20px;
        border: 1px solid #f00;
        border-radius: 5px;
        background-color: #f8d7da;
        color: #721c24;
    }
</style>

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Error</a>
</div>
<div class="section-error">
    <h1>404 NOT FOUND</h1>
    <p>Your visited page not found. You may go home page.</p>
    @*<div class="error-message">
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>*@
    <a href="/" class="global-button">Back to home page</a>
</div>