@model User
@{
    ViewData["Title"] = "Log In";
}

<style>
    .button-container {
        display: flex;
        display-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .forgot-password-text {
        color: #db4444;
        text-decoration: none;
    }
</style>

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Log In</a>
</div>

<section class="section-register">
    <img src="/img/sing-up.png" alt="Alternate Text" class="register-image" />
    <div class="sing-up-form" >
        <h1 class="sing-up-title">Log in to exclusive</h1>
        <p>Enter your details below</p>
        <form asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" class="sing-up-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="group-container">
                <input asp-for="UserName" class="form-control" placeholder="Nombre de usuario" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="group-container">
                <input asp-for="Password" class="form-control" type="password" placeholder="Contraseña"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                <div class="button-container">
                    <a asp-action="Register" class="text-decoration-none float-start mt-2" asp-route-returnurl="@ViewData["ReturnUrl"]">Don't have account?</a>
                    <input type="submit" value="Login" class="global-button" />
                </div>
        </form>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}