@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About-Us";
}
<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">About</a>
</div>
<section id="sobre-nosotros">
    <h2>About-Us</h2>
    <p>
        We are a store specialized in the import of items.
        We are dedicated to offering high quality products at competitive prices.
        Our mission is to satisfy the needs of our customers and provide them with a unique shopping experience
    </p>
</section>

<div style="text-align: center;">
    <img src="https://www.google.com.mx/url?sa=i&url=https%3A%2F%2Fcuidateplus.marca.com%2Fbienestar%2F2022%2F11%2F25%2Fdescubre-tienes-adiccion-compras-169150.html&psig=AOvVaw2dhXNFGwgVwegEu-cXUuEX&ust=1713937536826000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNjppp7T14UDFQAAAAAdAAAAABAE" alt="You make the best purchases here">
    <img src="imagen2.jpg" alt="Descripción de la imagen 2">
</div>
</section>

<footer>
    <p>&copy; 2024 Tienda de Artículos Chinos</p>
</footer>
