@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About-Us";
}
<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">About</a>
</div>
<section id="sobre-nosotros">
    <h2>About-Us</h2>
    <p>We are a store specialized in the import of Chinese items. 
We are dedicated to offering high quality products at competitive prices. 
Our mission is to satisfy the needs of our customers and provide them with a unique shopping experience </p>
</section>

<div style="text-align: center;">
        <img src="imagen1.jpg" alt="Descripción de la imagen 1">
        <img src="imagen2.jpg" alt="Descripción de la imagen 2">
    </div>
</section>

<footer>
    <p>&copy; 2024 Tienda de Artículos Chinos</p>
</footer>

</body>
</html>
</defs>
</svg>
