@{
    ViewData["Title"] = "Cart";
}
<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Cart</a>
</div>
<div class="cart-container">
    <div class="cart-product-container">
        <h1>Product</h1>
    </div>
    <div class="cart-price-container">
        <h1>Price</h1>
    </div>
    <div class="cart-quantity-container">
        <h1>Quantity</h1>
    </div>
    <div class="cart-total-container">
        <h1>Total</h1>
     </div>
</div>
<div id="cart-items" class="cart-container">
</div>
<script src="../js/site.js"></script>