@{
    ViewData["Title"] = "Cart";
}
@model Product[]

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Cart</a>
</div>
<div class="cart-container">
    <div class="cart-product-container">
        <h1>Product</h1>
    </div>
    <div class="cart-price-container">
        <h1>Price</h1>
    </div>
    <div class="cart-quantity-container">
        <h1>Quantity</h1>
    </div>
    <div class="cart-total-container">
        <h1>Total</h1>
     </div>
</div>
<div id="cart-items" class="">
</div>
<div class="cart-footer" >
    <div class="cart-button-section">
        <a href="/" class="second-button">
            Return To Shop
        </a>
        <button class="second-button">
            Update Cart
        </button>
    </div>
    <div class="cart-total-section" >
        <h6>Cart total</h6>
        <div class="total-list">
            <p>Subtotal:</p>
            <p id="subtotal"></p>
        </div>
        <div class="total-list">
            <p>Shipping:</p>
            <p>FREE</p>
        </div>
        <div class="total-list">
            <p>Total:</p>
            <p id="total"></p>
        </div>
        <a href="/Home/Checkout" class="global-button">
            Proceed to checkout
        </a>
    </div>
</div>
<div id="section-flashSales" class="container-products">
</div>

@section scripts {
    <script src="~/js/site.js"></script>
}