@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}
<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Contact</a>
</div>
<div class="gral">
    <div class="izq">
        <div class="left-top">
            <div class="title-contact">
                <img src="/img/phone.png" width="25">
                <h3>Call To Us</h3>
            </div>
            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone: +88016111112222</p>
        </div>
        <div class="left-bottom">
            <div class="title-contact">
                <img src="/img/mail.png" align="left" width="25">
                <h3>Write To Us</h3>
            </div>
            <p>Fill out our from and we will contact you within 24 hours.</p>
            <p>Emails: customer@exclusive.com</p>
            <p>Emails: support@exclusive.com</p>
        </div>
    </div>
    <form class="der">
        <div class="contact-forms">
            <input type="text" id="name" placeholder="Your Name *">
            <input type="text" id="mail" placeholder="Your Email *">
            <input type="text" id="phone" placeholder="Your Phone *">
        </div>
        <textarea id="massage" cols="70" rows="13" placeholder="Your Massage *"></textarea>
        <button class="global-button"> Send Massage</button>
    </form>

</div>
