@{
    ViewData["Title"] = "Home Page";
}
<div class="add-to-cart-modal">
    <div class="add-to-cart-modal-text">
        Añadido al carrito
    </div>
    <img src="./img/checkmark.svg" />
</div>
<div class="bottom-header-container">
    <ul>
        <li class="header-list-option">
            Woman´s Fashion
            <div>
                <img src="./img/dropRight.svg" />
            </div>
        </li>
        <li class="header-list-option">
            Man´s Fashion
            <div>
                <img src="./img/dropRight.svg" />
            </div>
        </li>
        <li>
            Electronics
        </li>
        <li>
            Home & Freestyle
        </li>
        <li>
            Medicine
        </li>
        <li>
            Sports & Outdoor
        </li>
    </ul>
    <div class="bottom-header-photo">
        <img src="./img/image-1.png" />
    </div>
</div>
<div class="category-header">
    <div class="category-title">
        <div class="section-square"></div>
        <h1>Today´s</h1>
    </div>
    <div class="section-title-container">
        <h1>Flash Sales</h1>
        <div class="left-right-arrows">
            <div>
                <img src="./img/left-arrow.svg" />
            </div>
            <div>
                <img src="./img/right-arrow.svg" />
            </div>
        </div>
    </div>
</div>
<div id="section-flashSales" class="container-products">
</div>
<div class="flashSales-button">
    <div class="global-button">
        View All Products
    </div>
</div>

<div class="category-header">
    <div class="category-title">
        <div class="section-square"></div>
        <h1>Categories</h1>
    </div>
    <h1>Browse By Category</h1>
</div>
<div id="section-browseByCategory" class="container-browse">
</div>
<div class="category-header">
    <div class="category-title">
        <div class="section-square"></div>
        <h1>This month</h1>
    </div>
    <div class="section-title-container">
        <h1>Best Selling</h1>
        <div class="global-button">
            View All
        </div>
    </div>
</div>
<div id="section-bestSelling" class="container-products">
</div>
<div class="image-container">
    <img src="./img/image-2.png" />
    <h1>
        Categories
    </h1>
    <div class="image-button">
        Buy Now!
    </div>
    <div class="image-counter">
        <div>
            <p class="number">23</p>
            <p class="number-text">Hours</p>
        </div>
        <div>
            <p class="number">05</p>
            <p class="number-text">Days</p>
        </div>
        <div>
            <p class="number">59</p>
            <p class="number-text">Minutes</p>
        </div>
        <div>
            <p class="number">35</p>
            <p class="number-text">Seconds</p>
        </div>
    </div>
</div>
<div class="category-header">
    <div class="category-title">
        <div class="section-square"></div>
        <h1>Our Products</h1>
    </div>
    <div class="section-title-container">
        <h1>Explore our products</h1>
        <div class="left-right-arrows">
            <div>
                <img src="./img/left-arrow.svg" />
            </div>
            <div>
                <img src="./img/right-arrow.svg" />
            </div>
        </div>
    </div>
</div>
<div id="section-ourProducts" class="container-products">
</div>
<div class="flashSales-button">
    <div class="global-button">
        View All Products
    </div>
</div>
<div class="category-header">
    <div class="category-title">
        <div class="section-square"></div>
        <h1>Featured</h1>
    </div>
    <div class="section-title-container">
        <h1>New Arrival</h1>
    </div>
</div>
<div class="section-featured">
    <div class="featured-image1">
        <img src="./img/image-3.png" />
    </div>
    <div class="featured-image2">
        <img src="./img/image-4.png" />
    </div>
    <div class="featured-image3">
        <img src="./img/image-5.png" />
    </div>
    <div class="featured-image4">
        <img src="./img/image-6.png" />
    </div>
</div>
<div class="section-info">
    <div class="info-footer">
        <div class="grey-circle">
            <div class="black-circle">
                <img src="./img/delivery.svg" />
            </div>
        </div>
        <div class="info-text">
            <h1>FREE AND FAST DELIVERY</h1>
            <h4>Free deliveries for all order over $140</h4>
        </div>
    </div>
    <div class="info-footer">
        <div class="grey-circle">
            <div class="black-circle">
                <img src="./img/support.svg" />
            </div>
        </div>
        <div class="info-text">
            <h1>24/7 CUSTOMERS SERVICE</h1>
            <h4>Friendly 24/7 customer support</h4>
        </div>
    </div>
    <div class="info-footer">
        <div class="grey-circle">
            <div class="black-circle">
                <img src="./img/guarantee.svg" />
            </div>
        </div>
        <div class="info-text">
            <h1>MONEY BACK GUARANTEE</h1>
            <h4>We return money within 30 days </h4>
        </div>
    </div>
</div>

            @section scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/addToCart.js"></script>

}