@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Producto";
}
<style>
    .actions-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }
</style>

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Havic HV G-92 Gamepad</a>
</div>
<div class="product-details">
    <div class="product-side-images-container">
        <div class="product-view-images-container">
            <img src="/img/GamePad-2.png"/>
        </div>
        <div class="product-view-images-container">
            <img src="/img/GamePad-3.png"/>
        </div>
        <div class="product-view-images-container">
            <img src="/img/GamePad-4.png"/>
        </div>
        <div class="product-view-images-container">
            <img src="/img/GamePad-5.png" />
        </div>
    </div>
    <div class="product-main-image-container">
        <img src="/img/GamePad-1.png"/>
    </div>
    <div class="product-info">
        <h3>Havic HV G-92 Gamepad</h3>
        <div class="rate-text">
            <div class="stars-container">
                <img src="~/img/star.svg" />
                <img src="~/img/star.svg" />
                <img src="~/img/star.svg"/>
                <img src="~/img/star.svg"/>
                <img src="~/img/star.svg" />
            </div>
            <p>(150 reviews)</p>
            <p>|</p>
            <p class="stock-text" style="color:limegreen">In stock</p>
        </div>
        <h5>192.00$</h5>
        <p class="details-text">PlayStation 5 Controller Skin High quality vinyl with air channel adhesive for easy bubble free install & mess free removal Pressure sensitive.</p>
        <div id="" class="actions-container">
            <div class="quantity-container">
                <button class="button-quantity">
                    -
                </button>
                <div class="text-quantity">
                    2
                </div>
                <button class="button-quantity">
                    +
                </button>
            </div>
            <button class="global-button" onclick="addToCart()">
                Add To Cart
            </button>
            <button class="fav-button">
                <img src="~/img/favorite.svg"/>
            </button>
        </div>
        <div class="shipping-details">
            <div class="delivery-details">
                <div class="shipping-image-container">
                    <img src="~/img/icon-delivery.svg" />
                </div>
                <div class="text-shipping-container">
                    <h5>Free Delivery</h5>
                    <p>Enter your postal code for Delivery Availability</p
                </div>
            </div>
        </div>
        <div class="return-details">
                <div class="shipping-image-container">
                    <img src="~/img/icon-return.svg" />
                </div>
                <div class="text-shipping-container">
                    <h5>Return Delivery</h5>
                    <p>Free 30 Days Delivery Returns. Details</p
                </div>
            </div>
    </div>
</div>
<script src="~/js/site.js"></script>