@model Tienda_Online.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<div class="section-page">
    <a href="/" class="home-text">Home</a>
    <a>/</a>
    <a class="page-text">Edit - @Model.ProductName</a>
</div>
<div class="page-center">
    <form asp-action="Edit" class="form-controllers">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdProduct" />
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <input asp-for="ProductImage" class="form-control" />
                            <span asp-validation-for="ProductImage" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="ProductDescription" class="form-control" />
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="Stock" class="form-control" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="ProductPrice" class="form-control" />
                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
                            <span asp-validation-for="IdCategory" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-page">
            <input type="submit" value="Save" class="btn" />
            <a asp-action="Index" class="btn">Back to List</a>
        </div>
    </form>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
